#home-container {
    height: 100vh;
    width: 100%;
}

.bgVideo {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

.home-content--left {
    width: 40%;
    position: relative;
    left: 20px;
    top: 50%;
    transform: translateY(-50%);
    padding: 10px;
}

.home-content--left .main-heading .heading1 {
    font-size: 3rem;
    color: #fff;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin: 0;
}

.home-content--left .main-heading .heading2 {
    font-size: 1.5rem;
    color: #fff;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin: 0;
}


.home-content--left .btn-grab {
    border: none;
    padding: 10px 20px;
    color: #fff;
    margin-top: 20px;
    font-weight: 600;
    background: rgb(226, 12, 12);
    transition: 0.3s;
    cursor: pointer;
    border-radius: 20px;
}

.home-content--left .btn-grab:hover {
    transition: 0.3s;
    cursor: pointer;
    background: rgb(180, 10, 10);
    transform: translateY(-5px);
}

.down-arrow {
    height: 50px;
    width: 50px;
    position: absolute;
    bottom: 8px;
    left: 50%;
    transform: translateX(-50%);
    cursor: pointer;
    animation: moveUpDown 2s infinite alternate;
    filter: invert(100%);
}

@keyframes moveUpDown {
    0% {
      transform: translateY(0);
    }
    100% {
      transform: translateY(-30px); 
    }
  }

/* =======================Pokedex page========================== */
#pokedex-container {
    width: 100%;
    background-color: #F2F3F4;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.pokedex-header {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 30px;
    margin-bottom: 8px;
}

.pokedex-header .title-img{
    max-width: 300px;
    margin-bottom: 8px;
}

.pokedex-header .bottom-img {
    width: 30px;
    height: 30px;
    animation: rotateBall 2s linear infinite;
}

  @keyframes rotateBall {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg); 
    }
  }

  .searchBar--container {
    width: 80%;
    display: flex;
    justify-content: space-between;
    margin: 10px 0;
    padding: 15px;
    background-color: white;
    border-radius: 20px;
    box-shadow: 11px 12px 9px -7px rgba(0,0,0,0.43);
  }

  .searchBar-left .searchBar-input {
    color: black;
    background-color: #D9D9D9;
    padding: 7px;
    border: none;
    border-radius: 10px;
    outline: none;
    width: 250px;
  }

   .btn {
        padding: 7px 20px;
        border: none;
        border-radius: 10px;
        background-color: #C61B0A;
        color: white;
        font-weight: 600;
        cursor: pointer;
        transition: 0.3s;
        margin: 0 10px;
    }

    .btn:hover {
        transition: 0.3s;
        background-color: #e4180a;
        transform: translateY(-5px);
    }