.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1001;
    padding: 0 30px;
    background-color: transparent;
    max-height: 60px;
    position: fixed;
    width: 100%;
    left: 0;
    top: 0;
    box-sizing: border-box;
}

.scroll {
    background-color: #C61B0A;
    transition: 0.3s;
}

.navbar-left {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.home-logo {
    height: 80px;
    width: 80px;
    margin: 0 15px;
}

.navbar-right {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.navbar-right .navbar-link {
    margin: 0 10px;
    text-decoration: none;
    color: white;
    font-size: 1rem;
    font-weight: bold;
    margin-left: 20px;
    margin-right: 20px;
    position: relative;
}

.navbar-right .navbar-links .navbar-link::after {
    content: '';
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 0;
    height: 2px;
    background-color: rgb(255, 255, 255);
    transition: width 0.3s ease;
}

.navbar-right .navbar-links .navbar-link:hover::after {
    width: 100%;
}

.navbar-right .btn-logout {
    background-color: #592905;
    color: white;
    padding: 8px 11px;
    border-radius: 5px;
    cursor: pointer;
    border: none;
    margin-left: 30px;
}

.hamburger {
    display: none;
    cursor: pointer;
    color: white;
    z-index: 1001;
}

/* Responsive Styles */
@media (max-width: 768px) {
    .navbar {
        padding: 0 20px;
    }

    .home-logo {
        height: 60px;
        width: 60px;
        margin: 0 10px;
    }

    .hamburger {
        display: block;
    }

    .navbar-links {
        display: flex;
        position: fixed;
        top: 0;
        right: -100%;
        width: 70%;
        height: 100vh;
        background-color: #C61B0A;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        transition: right 0.3s ease;
        z-index: 1000;
        gap: 30px;
    }

    .navbar-links.active {
        right: 0;
    }

    .navbar-right .navbar-link {
        margin: 15px 0;
        font-size: 1.2rem;
    }

    .navbar-right .navbar-links .navbar-link::after {
        display: none;
    }
}

@media (min-width: 769px) and (max-width: 1024px) {
    .navbar {
        padding: 0 20px;
    }

    .home-logo {
        height: 70px;
        width: 70px;
    }

    .navbar-right .navbar-link {
        margin-left: 15px;
        margin-right: 15px;
        font-size: 0.95rem;
    }
}